<h1>Listing all Totos</h1>
<p>
<%= link_to "Create Totos",new_toto_path %>
</p>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @totos.each  do |t| %>
    <tr>
      <td ><%= t.id %></td>
      <td ><%= t.name %></td>
      <td ><%= t.description %></td>
      <td><%= link_to "Edit", edit_toto_path(t)%></td> 
      <td><%= link_to "Show", toto_path(t)%></td>
      <td><%= link_to "Delete", toto_path(t), method: :delete, data: {confirm: "Are you sure ?"}%></td>
    </tr>
  <% end %>

</table>
